/* Skill Mastery Styling */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*Header*/

header, footer {
  background-color: grey;
  font-size: 0.8em;
}

header a {
  color: white;
}

nav ul li {
  list-style-type: none;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
}

/* Footer */
footer {
  height: 4em;
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100vw;
}


/* Home */
.banner-container { 
  display: flex;
  justify-content: center;
}

.banner {
  width: 90vw;
  height: 60vh;
}

.tutor-display-container {
  display: flex;
  justify-content: center;
  margin-top: 1em;

}

.tutor-display {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  width: 90vw;
}

.tutor-display li {
  list-style-type: none;
}

.tutor-card {
  background-color: grey;
  color: white;
  padding: 0.2em;
}

.tutor-profile-pic-home {
  width: 4em;
}

/* Tutor List */

h1 {
  text-align: center;
}

/* Add Tutor Form Page */

.add-tutor-form {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px; 
  width: 80vw; 
  max-width: 400px;
  margin: 0 auto; 
  padding-top: 3em;
}

.add-tutor-form div {
  display: flex;
  flex-direction: column; 
  margin-bottom: 10px; 
}

.add-tutor-form label {
  text-align: left; 
  margin-bottom: 5px; 
}

.add-tutor-form input[type="text"],
.add-tutor-form input[type="number"] {
  width: 100%; 
}










































/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


